<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("~/Views/Shared/_TaiKhoanHeadPartial.cshtml")
    @RenderSection("css", required: false)
</head>
<body>
    @RenderBody()
    @await Html.PartialAsync("~/Views/Shared/_TaiKhoanFoodPartial.cshtml")
    @RenderSection("Scripts", required: false)
</body>
</html>
