<!DOCTYPE html>
<html lang="en">
<head>
    
    @await Html.PartialAsync("_CssPartial.cshtml")
    @RenderSection("css", required: false)
</head>
<body>

    <div class="full">

        @RenderBody()

    </div>


</body>
</html>
