<div class="top-header">
    <div class="col-md-6 logo col-md-6">
        <a href="Home"><img src="~/images/logo.png" alt="" /></a>
        <p>Movie Theater</p>
    </div>
    <div class="col-md-6 news-right-grid">
        <div class="col-md-6"> </div>
        <div class="col-md-6">

            @if (@Model != null)
            {
                <p>@Model.Ten_dang_nhap</p>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Đăng xuất</a>

            }
            else
            {
                <a class="nav-link text-dark" asp-area="" asp-controller="TaiKhoan" asp-action="Create">Đăng ký</a>
                <a href="#">/</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="TaiKhoan" asp-action="Index">Đăng nhập</a>
            }

        </div>
    </div>
    <div class="clearfix"></div>
</div>
