@model RapChieuPhim.Areas.Admin.Models.PhimModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PhimModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Ten_phim" class="control-label"></label>
                <input asp-for="Ten_phim" class="form-control" />
                <span asp-validation-for="Ten_phim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinh_anh" class="control-label"></label>
                <input asp-for="Hinh_anh" class="form-control" />
                <span asp-validation-for="Hinh_anh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thoi_luong" class="control-label"></label>
                <input asp-for="Thoi_luong" class="form-control" />
                <span asp-validation-for="Thoi_luong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luot_xem" class="control-label"></label>
                <input asp-for="Luot_xem" class="form-control" />
                <span asp-validation-for="Luot_xem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia_ve" class="control-label"></label>
                <input asp-for="Gia_ve" class="form-control" />
                <span asp-validation-for="Gia_ve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lich_Chieu" class="control-label"></label>
                <input asp-for="Lich_Chieu" class="form-control" />
                <span asp-validation-for="Lich_Chieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Da_xoa" class="control-label"></label>
                <input asp-for="Da_xoa" class="form-control" />
                <span asp-validation-for="Da_xoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
