
@{
    ViewData["Title"] = "Index";
}

<div class="main">
    @await Html.PartialAsync("../Shared/_MenuPartial.cshtml")
    <div class="video-content">
        @await Html.PartialAsync("../Shared/_TopHeaderPartial.cshtml")
        <div class="right-content">
            <div class="right-content-heading">
                <div class="right-content-heading-left">
                    <h3 class="head">Latest Colletcion of videos</h3>
                </div>
            </div>
            <!-- pop-up-box -->
            <link href="~/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
            <script src="~/js/jquery.magnific-popup.js" type="text/javascript"></script>

            <div class="content-grids" id="_main_content">

            </div>
            <!---start-pagenation----->
            <div class="pagenation">
                <ul id="Phan_trang">
                </ul>
            </div>
            <div class="clearfix"> </div>
            <!---End-pagenation----->
        </div>
        <div class="clearfix"> </div>
    </div>
    @await Html.PartialAsync("../Shared/_FooterPartial.cshtml")
</div>
<div class="clearfix"></div>

@section Scripts{
    <script>
        $(document).ready(function () {
            //pop-up-box


                $.ajax({
                    type: "GET",
                    url: "../API/phim/size",
                    dataType: "json",
                    data: null,
                    success: function (data) {
                        const countPhim = Math.ceil(data / 16);
                        for (var i = 1; i <= countPhim; ++i) {

                            $("#Phan_trang")[0].innerHTML += `<li><a href="./VideosPage?page=${i}">${i}</a></li> `;
                        }
                        if (@ViewData["PageId"]+1 <= countPhim)
                            $("#Phan_trang")[0].innerHTML += `<li><a href="./VideosPage?page=${@ViewData["PageId"]+1}">Next</a></li>`;
                        renderData(@ViewData["PageId"]);
                    }
                });

        const renderData = (page) => {
                $.ajax({
                    type: "GET",
                    url: `../API/phim/page/${page}`,
                    dataType: "json",
                    data: null,
                    success: function (data) {
                        document.getElementById("_main_content").innerHTML =
                            `<div id="small-dialog" class="mfp-hide">
                                <iframe id="Video_start" src="https://www.youtube.com/embed/2LqzF5WauAw" frameborder="0" allowfullscreen></iframe>
                            </div>`;
                        var i = 1;
                        data.forEach(phim => {
                            if (i % 4 != 0) {
                                document.getElementById("_main_content").innerHTML +=
                                    `<div class="content-grid">
                                                                                                        <div class="Video_p" style="display: none">${phim.video}</div>
                                                                                                        <div class="id_p" style="display: none">${phim.id}</div>
                                                                                                        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="${phim.hinh_anh}" title="trailer Phim" /></a>
                                                                                                        <h3>${phim.ten_phim}</h3>
                                                                                                        <ul>
                                                                                                            <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                                                                                                            <li><a href="#"><img src="/images/views.png" title="image-name" />${phim.luot_xem}</a></li>
                                                                                                            <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                                                                                                        </ul>
                                                                                                        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
                                                                                                    </div> `;
                            }
                            else {
                                document.getElementById("_main_content").innerHTML +=
                                    `<div class="content-grid last-grid" >
                                                                                                        <div class="Video_p" style="display: none">${phim.video}</div>
                                                                                                        <div class="id_p" style="display: none">${phim.id}</div>
                                                                                                        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="${phim.hinh_anh}" title="trailer Phim" /></a>
                                                                                                        <h3>${phim.ten_phim}</h3>
                                                                                                        <ul>
                                                                                                            <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                                                                                                            <li><a href="#"><img src="/images/views.png" title="image-name" />${phim.luot_xem}</a></li>
                                                                                                            <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                                                                                                        </ul>
                                                                                                        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
                                                                                                    </div>`;
                            }
                            ++i;
                        });
                        document.getElementById("_main_content").innerHTML += `<div class="clearfix"> </div>`;

                        $('.popup-with-zoom-anim').magnificPopup({
                            type: 'inline',
                            fixedContentPos: false,
                            fixedBgPos: true,
                            overflowY: 'auto',
                            closeBtnInside: true,
                            preloader: false,
                            midClick: true,
                            removalDelay: 300,
                            mainClass: 'my-mfp-zoom-in'
                        });

                        $('.popup-with-zoom-anim').on("click", function (e) {
                            var link_video = this.parentElement.children[0].textContent;
                            link_video = link_video.replace("watch?v=", "embed/");
                            link_video;
                            console.log(link_video);

                            $("#Video_start").attr("src", link_video);

                            var id = this.parentElement.children[1].textContent;
                            console.log(id);
                            var views = this.parentElement.children[4].children[1].children[0];//.getElementsByTagName("ul")[2];
                            console.log(views);
                            $.ajax({
                                type: "GET",
                                url: `../API/phim/View/${id}`,
                                dataType: "json",
                                data: null,
                                success: function (data) {
                                    console.log(data);
                                    views.innerText = "" + data;
                                    console.log(views);
                                }
                            });
                        });
                    }
                });
            }


        });
    </script>
}
