@model RapChieuPhim.Areas.Admin.Models.RapPhimModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RapPhimModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ten_rap" class="control-label"></label>
                <input asp-for="Ten_rap" class="form-control" />
                <span asp-validation-for="Ten_rap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dia_chi" class="control-label"></label>
                <input asp-for="Dia_chi" class="form-control" />
                <span asp-validation-for="Dia_chi" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Da_xoa" /> @Html.DisplayNameFor(model => model.Da_xoa)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
