@*@model RapChieuPhim.Areas.Admin.Models.TaiKhoanModel
    @Model.Ten_dang_nhap*@

<div id="app">
    <div id="sidebar" class='active'>
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <img src="~/images/logo.png" alt="" srcset="">
            </div>
            <div class="sidebar-menu">
                <ul class="menu">


                    <li class='sidebar-title'>Tổng quan</li>
                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="user" width="20"></i>
                            <span>Thông tin khách hàng</span>
                        </a>

                        <ul class="submenu ">

                            <li>
                                <a asp-controller="TaiKhoan" asp-action="Index">Tài khoản</a>
                            </li>
                            <li>
                                <a asp-controller="NguoiDung" asp-action="Index">Người dùng</a>
                            </li>

                        </ul>

                    </li>
                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i data-feather="briefcase" width="20"></i>
                            <span>Thông tin phim</span>
                        </a>

                        <ul class="submenu ">
                            <li>
                                <a asp-controller="Phim" asp-action="Index">Phim</a>
                            </li>
                            <li>
                                <a asp-controller="RapPhim" asp-action="Index">Rạp phim</a>
                            </li>
                            <li>
                                <a asp-controller="PhongChieu" asp-action="Index">Phòng chiếu</a>
                            </li>
                            <li>
                                <a asp-controller="Ghe" asp-action="Index">Ghế</a>
                            </li>
                            <li>
                                <a asp-controller="LichChieu" asp-action="Index">Lịch chiếu</a>
                            </li>
                            <li>
                                <a asp-controller="XuatChieu" asp-action="Index">Xuất chiếu</a>
                            </li>
                            <li>
                                <a asp-controller="BinhLuan" asp-action="Index">Bình luận</a>
                            </li>
                            <li>
                                <a asp-controller="VeXemPhim" asp-action="Index">Vé xem phim</a>
                            </li>
                        </ul>

                    </li>
                    <li class='sidebar-title'>Thống kê doanh thu</li>

                    <li class="sidebar-item active ">
                        <a asp-controller="HoaDon" asp-action="Index" class='sidebar-link'>
                            <i data-feather="file-text" width="20"></i>
                            <span>Hóa đơn</span>
                        </a>

                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>

    <div id="main">
        <nav class="navbar navbar-header navbar-expand navbar-light">
            <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
            <button class="btn navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex align-items-center navbar-light ml-auto">
                    <li class="dropdown nav-icon">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
                            <div class="d-lg-inline-block">
                                <i data-feather="bell"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-large">
                            <h6 class='py-2 px-4'>Notifications</h6>
                            <ul class="list-group rounded-none">
                                <li class="list-group-item border-0 align-items-start">
                                    <div class="avatar bg-success mr-3">
                                        <span class="avatar-content"><i data-feather="shopping-cart"></i></span>
                                    </div>
                                    <div>
                                        <h6 class='text-bold'>New Order</h6>
                                        <p class='text-xs'>
                                            An order made by Ahmad Saugi for product Samsung Galaxy S69
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown nav-icon mr-2">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
                            <div class="d-lg-inline-block">
                                <i data-feather="mail"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                            <a class="dropdown-item active" href="#"><i data-feather="mail"></i> Messages</a>
                            <a class="dropdown-item" href="#"><i data-feather="settings"></i> Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i data-feather="log-out"></i> Logout</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <div class="avatar mr-1">
                                <img src="~/Admin/assets/images/avatar/avatar-s-1.png" alt="" srcset="">
                            </div>
                            <div class="d-none d-md-block d-lg-inline-block" id="user_name">@Model.Ten_dang_nhap</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                            <a class="dropdown-item active" href="#"><i data-feather="mail"></i> Messages</a>
                            <a class="dropdown-item" href="#"><i data-feather="settings"></i> Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i data-feather="log-out"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="main-content container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        @*<h3>Form Layout</h3>
                            <p class="text-subtitle text-muted">There's a lot of form layout that you can use</p>*@
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        @*<nav aria-label="breadcrumb" class='breadcrumb-header'>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Form Layout</li>
                                </ol>
                            </nav>*@
                    </div>
                </div>

            </div>
