@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-left">
            <p> 0306181119 - CDTH18PMB &copy; Voler</p>
        </div>
        <div class="float-right">
            <p>
                Crafted with <span class='text-danger'><i data-feather="heart"></i></span> by <a href="http://ahmadsaugi.com">Ahmad Saugi</a>
            </p>
        </div>
    </div>
</footer>
        </div>
    </div>
<script src="~/Admin/assets/js/feather-icons/feather.min.js"></script>
<script src="~/Admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="~/Admin/assets/js/app.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="~/Admin/assets/js/main.js"></script>