<!DOCTYPE html>

<html>
<head>
    @await Html.PartialAsync("_AdminHeadPartial.cshtml")
    @RenderSection("css", required: false)
</head>
<body>
    @await Html.PartialAsync("_AdminHeaderPartial.cshtml")
    @RenderBody()
    @await Html.PartialAsync("_AdminFooterPartial.cshtml")
    @RenderSection("Scripts", required: false)
</body>
</html>
