@model RapChieuPhim.Areas.Admin.Models.TaiKhoanModel

<div class="alert alert-success ">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Đăng nhập!</strong> Thành công.
    <p>Chào admin @Model.Ten_dang_nhap</p>
</div>