@model RapChieuPhim.Areas.Admin.Models.TaiKhoanModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TaiKhoanModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Ten_dang_nhap" class="control-label"></label>
                <input asp-for="Ten_dang_nhap" class="form-control" />
                <span asp-validation-for="Ten_dang_nhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mat_khau" class="control-label"></label>
                <input asp-for="Mat_khau" class="form-control" />
                <span asp-validation-for="Mat_khau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loai_tai_khoan" class="control-label"></label>
                <select asp-for="Loai_tai_khoan" class="form-group">
                        <option value="1">Admin</option>
                        <option value="0">Khách hàng</option>
                    </select>
                <span asp-validation-for="Loai_tai_khoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiDung_ID" class="control-label"></label>
                <select asp-for="NguoiDung_ID" class="form-control"
                        asp-items="@(new SelectList(ViewBag.lstTaiKhoan, "ID", "Email"))"></select>
                <span asp-validation-for="NguoiDung_ID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Da_xoa" /> @Html.DisplayNameFor(model => model.Da_xoa)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
