@model RapChieuPhim.Areas.Admin.Models.VeXemPhimModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VeXemPhimModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="XuatChieu_id" class="control-label"></label>
                <select asp-for="XuatChieu_id" class="form-control" asp-items="ViewBag.XuatChieu_id"></select>
                <span asp-validation-for="XuatChieu_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ghe_ID" class="control-label"></label>
                <select asp-for="Ghe_ID" class="form-control" asp-items="ViewBag.Ghe_ID"></select>
                <span asp-validation-for="Ghe_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhongChieu_ID" class="control-label"></label>
                <select asp-for="PhongChieu_ID" class="form-control" asp-items="ViewBag.PhongChieu_ID"></select>
                <span asp-validation-for="PhongChieu_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RapPhim_ID" class="control-label"></label>
                <select asp-for="RapPhim_ID" class="form-control" asp-items="ViewBag.RapPhim_ID"></select>
                <span asp-validation-for="RapPhim_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phim_ID" class="control-label"></label>
                <select asp-for="Phim_ID" class="form-control" asp-items="ViewBag.Phim_ID"></select>
                <span asp-validation-for="Phim_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoaDon_ID" class="control-label"></label>
                <select asp-for="HoaDon_ID" class="form-control" asp-items="ViewBag.HoaDon_ID"></select>
                <span asp-validation-for="HoaDon_ID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DaXoa" /> @Html.DisplayNameFor(model => model.DaXoa)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

