@model RapChieuPhim.Areas.Admin.Models.BinhLuanModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BinhLuanModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="NguoiDung_ID" class="control-label"></label>
                <select asp-for="NguoiDung_ID" class="form-control" asp-items="ViewBag.NguoiDung_ID"></select>
                <span asp-validation-for="NguoiDung_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phim_ID" class="control-label"></label>
                <select asp-for="Phim_ID" class="form-control" asp-items="ViewBag.Phim_ID"></select>
                <span asp-validation-for="Phim_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noi_dung" class="control-label"></label>
                <input asp-for="Noi_dung" class="form-control" />
                <span asp-validation-for="Noi_dung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
