.col-xs-1-10,
.col-sm-1-10 {
    position: relative;
    min-height: 1px;
}

.col-xs-1-10 {
    width: 10%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-1-10 {
        width: 10%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-10 {
        width: 10%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-10 {
        width: 10%;
        float: left;
    }
}
